@page
@model WebApplicationASP.Pages.VarorModels.ListModel
@{
    ViewData["Title"] = "List";
}


<h3>Sök i din inköpslista</h3>

<form method="get">

    <div class="form-group">
        <div class="input-group">
            <input type="search" class="form-control" asp-for="SearchTerm" />
            <span class="input-group-btn">
                <button class="btn btn default">
                    <i class="fas fa-search"></i>
                </button>
            </span>
        </div>

    </div>

</form>
<a asp-page=".\Edit" class="btn btn-outline-primary m-1">Lägg till vara</a> <a class="btn btn-secondary text-white"> Summa för varor i listan: @Model.Varor.Sum(x => x.Price) kr</a>

<br />
<br />
<div class="card-columns">
    @foreach (var vara in Model.Varor)
    {
        <div class="card">
            <div class="card-header text-center">
                <h4>@vara.Name</h4>
            </div>
            <div class="card-header text-center">
                <p class="card-text font-weight-bold">Pris: @vara.Price kr</p>
            </div>
            <div class="card-footer text-center bg-white">
                <a class="btn btn-lg" asp-page="./Edit" asp-route-varorId="@vara.Id">
                    <i class="fas fa-edit"></i>
                </a>
                <a class="btn btn-sm border-danger" asp-page="./Delete" asp-route-varorId="@vara.Id">
                    <i>Ta bort</i>
                </a>
                <a href="http://www.google.com/search?q=@vara.Name" target="_blank" class="btn btn-lg">
                    <i class="fas fa-search "></i>
                </a>
            </div>
        </div>
       
    }
</div>
<br />
<hr />
@if (Model.expensiveList.Count() == 0)
{
    <div class="card bg-info">
        <div class="card-header">
            <div class="text-white font-weight-bold">
                Inga varor i korgen!
            </div>
        </div>
    </div>
}
@if (Model.expensiveList.Count() == 1)
{<h3>Dyraste vara:</h3>
    <div class="card-columns">
        @foreach (var item in Model.expensiveList)
        {
            <div class="card bg-danger">
                <div class="card-header bg-danger text-center">
                    <p class="card-text font-weight-bold text-white">@item.Name @item.Price kr</p>
                </div>
            </div>
        }
    </div>
}
else if (Model.expensiveList.Count() > 1)
{
    <h3>Dyraste varor:</h3>
    <div class="card-columns">
        @foreach (var item in Model.expensiveList)
        {
            <div class="card">
                <div class="card-header text-center">
                    <p class="card-text font-weight-bold text-white">@item.Name @item.Price kr</p>
                </div>
            </div>
        }

    </div>
}
@if (Model.cheapestList.Count() == 1)
{
    <h3>Billigaste vara:</h3>
    <div class="card-columns">
        @foreach (var item in Model.cheapestList)
        {
            <div class="card bg-primary">
                <div class="card-header bg-primary text-center">
                    <p class="card-text font-weight-bold">@item.Name @item.Price kr</p>
                </div>
            </div>
        }
    </div>
}
else if (Model.cheapestList.Count() > 1)
{
    <h3>Billigaste varor:</h3>
    <div class="card-columns">
        @foreach (var item in Model.cheapestList)
        {
            <div class="card bg-primary">
                <div class="card-header text-center">
                    <p class="card-text font-weight-bold">@item.Name @item.Price kr</p>
                </div>
            </div>
        }

    </div>
}